/.idea
/.vscode
*.log
*.zip
*.xml
/.env
/data/install.lock
/data/laysns.txt
/public/uploads
/public/.user.ini
/public/.htaccess
/public/docs
runtime/*
addons/*
public/conf
public/WowOss.exe
app/index/controller/Test.php
composer.phar
app/test/